

.background {
  height: 100%;
  background: url("./ugly-ass-blockbuster.jpg") no-repeat center center fixed;
  background-size: cover;
}


.flex {
  flex: 1;
}

.menuButton: {
  marginLeft: -12;
  marginRight: 20;
}

h2 {
  text-align: center;
  padding: 5px;
}

#container {
    display: 'flex';
    flexWrap: 'wrap';
    align-items: center;
  }

#textField {
    marginLeft: theme.spacing.unit;
    marginRight: theme.spacing.unit;
    width: 400;
  }

#search {
  margin: 10px;
}
