.background {
  height: 100%;
  background: url("./ugly-ass-blockbuster.jpg") no-repeat center center fixed;
  background-size: cover;
}


.flex {
  flex: 1;
}

.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

h2 {
  text-align: center;
  padding: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#textField {
    /*marginLeft: theme.spacing.unit;*/
    /*marginRight: theme.spacing.unit;*/
    width: 400px;
  }

#search {
  margin: 10px;
}
